In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import sys
import time
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import seaborn as sns
# get_ipython().run_line_magic('matplotlib', 'inline')

sns.color_palette("husl")
sns.set_style('darkgrid')

import pystan
import os
from sklearn.metrics import mean_squared_error
import json
import funcs

%load_ext autoreload

%autoreload 2

In [2]:
# Load measured data
m_df = pd.read_csv("../drizly_mmm/data/measured_ad_channel_data.csv")
m_df = m_df[m_df["channel"] != "Congrats  YOU FOUND ME!!!!"]
m_df.head(2)

,day,conversion_type,channel,segment,tactic,lookup_type,spend,impressions,clicks
0,6/1/18,New Buyers,Search,Prospects,Google - Search - UAC,AdWords Campaign Performance,704.07,5734.0,163.0
1,6/2/18,New Buyers,Search,Prospects,Google - Search - UAC,AdWords Campaign Performance,993.28,8592.0,224.0

In [11]:
sales = pd.read_csv("../drizly_mmm/data/order_data.csv.gzip", compression="gzip")
sales = sales.sort_values(by='ORDER_DATE')
sales.head(2)

,ORDER_DATE,NEW_VS_RETURNING,DELIVERY_STATE,FULFILLMENT_TYPE,DMA_NAME,DEVICE_PLATFORM,PROMO_USAGE,GIFT_STATUS,PROMO_VALUE,TOTAL_ORDERS,PRODUCT_SUBTOTAL
44460,2018-06-01,New,TX,On Demand Delivery,HOUSTON,Web,NO_PROMO,false,0.0,6,238.45
974527,2018-06-01,Returning,CO,Scheduled Delivery,DENVER,iOS,NO_PROMO,false,0.0,7,433.29

In [10]:
tv = pd.read_csv("../drizly_mmm/data/tv_spend.csv")
tv.head(2)

      date  cost per view    spend
0  11/9/20           0.19  51848.6
1  11/9/20            NaN      0.0

In [12]:
fb = pd.read_csv("../drizly_mmm/data/collaborative_ad_data.csv")
fb.head(2)

,DATE,ACCOUNT_HASH,CAMPAIGN_HASH,SPEND,REACH,IMPRESSIONS,CLICKS
0,2018-05-12,16ea25f8c0c144495e236fe6444a9409,e4f12e96a39f511f0d27751c84ce15d9,1756.83,291072.0,330898.0,841.0
1,2018-05-13,7c7f7d568e4e262b1e09ee1431032e0b,35e19821aa320b28bf9054dae1420d22,2500.00,666953.0,697323.0,586.0

In [13]:
if hm exists

NameError: name 'hm' is not defined